
.one {
    background-color: green;
    mix-blend-mode: luminosity;
    background-blend-mode: screen, luminosity;
}
.two {
    mix-blend-mode: luminosity;
    background-blend-mode: screen, luminosity;
    background-color: #81230e;
}
.three {
    mix-blend-mode: luminosity;
    background-blend-mode: screen, luminosity;
    background-color: #00005f;
}
.four {
    background-color: #a8a800;
    mix-blend-mode: luminosity;
    background-blend-mode: screen, luminosity;
}

.btn-one{
    position : absolute;
    background-color: green;
    height: 250px;
    width: 250px;
    top: 0;
    left: 0;
    margin-right: auto;
    margin-left:auto;
    border-radius: 250px 0 0 0 / 250px 0 0 0;
    border-width: 20px 10px 10px 20px;
    border-style: solid;
    border-color: rgb(28, 28, 28);
    float: left;
}



.btn-two{
    position : absolute;

    height: 250px;
    width: 250px;
    top: 0;
    left: 250px;
    margin-right: auto;
    margin-left:auto;
    border-radius: 0 250px 0 0 / 0 250px 0  0;
    border-width: 20px 20px 10px 10px ;
    border-style: solid;
    border-color: rgb(28, 28, 28);
    float: left;
}

.btn-three{
    position : absolute;
    top: 250px;
    left: 0;
    height: 250px;
    width: 250px;
    margin-right: auto;
    margin-left:auto;
    border-radius: 0 0 0 250px  / 0 0 0 250px;
    border-width:  10px 10px 20px 20px;
    border-style: solid;
    border-color: rgb(28, 28, 28);
    float: left;
}

.btn-four{
    position : absolute;
    top: 250px;
    left: 250px;
    height: 250px;
    width: 250px;
    margin-right: auto;
    margin-left:auto;
    border-radius: 0 0 250px  0 / 0 0 250px 0;
    border-width:  10px 20px 20px 10px ;
    border-style: solid;
    border-color: rgb(28, 28, 28);
}

.container-all{
    position : absolute;
    height: 510px;
    width: 510px;
    border-radius:100%;
    box-shadow: -7px -5px 20px 1px rgba(4, 4, 4, 0.68), inset -1px -5px 50px 20px #adaf9c;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(28, 28, 28);
    z-index:1;
    background-color: transparent;
}

.center{
    width:250px;
    height:250px;
    border-radius:100%;
    position : absolute;
    border-color: rgb(28, 28, 28);
    border-width: 20px;
    border-style: solid;
    top: 125px;
    left:125px;
    background-color: #7a7968;
    z-index:1;
}


.start{
    width:20px;
    height:20px;
    border-radius:100%;
    position : absolute;
    top: 220px;
    left:265px;
    border-width: 1px;
    border-style: solid;
    border-color: #373737;
    box-shadow: 0 1px 3px 2px #373737;
    background-color: #48ff33;
    z-index:1;
}

.start-label{

    position : absolute;

    top: 240px;
    left:262px;
    z-index:1;
}


.strict{
    width:20px;
    height:20px;
    border-radius:100%;
    position : absolute;
    top: 220px;
    left:320px;
    border-width: 1px;
    border-style: solid;
    border-color: #373737;
    box-shadow: 0 1px 3px 2px #373737;
    background-color: #ff2d25;
    z-index:1;
}

.strict-label{
    width:20px;
    height:20px;
    position : absolute;
    top: 240px;
    left:315px;
    z-index:1;
}

.round{
    width:50px;
    height:50px;

    position : absolute;
    top: 190px;
    left:180px;
    background-color: #a02828;
    box-shadow: inset 0 1px 3px 3px #373737;
    z-index:1;
}

.counter{
    font-size: 2.5em;
    position : absolute;
    top: 187px;
    left:188px;
    z-index:1;
}


.reset{
    width:20px;
    height:20px;
    border-radius:100%;
    position : absolute;
    top: 270px;
    left:239px;
    border-width: 1px;
    border-style: solid;
    border-color: #373737;
    box-shadow: 0 1px 3px 2px #373737;
    background-color: #feff2e;
    z-index:1;
}

.reset-label{
    width:20px;
    height:20px;
    border-radius:100%;
    position : absolute;
    top: 295px;
    left:233px;
    z-index:1;
}


body {
    padding: 10em;
}



.one-on {
    /*  height: 100px;
      width: 100px; */
    background-color: #42cd38;
}
.two-on {
    /*  height: 100px;
      width: 100px; */
    background-color: red;
}
.three-on {
    /*  height: 100px;
      width: 100px; */
    background-color: #0000ff;
}
.four-on {
    /*  height: 100px;
      width: 100px; */
    background-color: yellow;
}
